.Card{
    
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid ;
    margin: 10px;

    display: flex;
    flex-direction: column;
    min-width: 500px;
    max-width: 500px;
}

.Card .Title{
    padding: 5px 0;
    display: flex;
    justify-content: center;

    font-size: 1.5rem;
}

.Card .Content{
    flex: 1; /* ou flex-grow: 1; */
    color: yellow;
    background-color: darkred;
    padding: 15px;

    font-size: 1.3rem;
}